* {
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
}

#headerNav {
    background-color: black;
    width: 100%;
    height: 70px;
    position: relative;
    flex: 1 1 10%;
}

#logo img {
    float: left;
    height: 70px;
    width: auto;
}

#navLinks {
    float: right;
    margin-right: 20px;
}

#navLinks ul li {
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    line-height: 70px;
}

#navLinks ul li a {
    text-decoration: none;
    font-size: larger;
    color: white;
    font-weight: bold;
}

#fold img {
    background-size: cover;
    background: no-repeat;
    height: 100vh;
    width: 100%;
    padding: 0%;
    margin: 0%;
    border: 0px;
    filter: brightness(40%);
}

#fold h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    font-style: italic;
}

#aboutMeSection {
    width: 100%;
    height: 100vh;
    flex: 1 1 40%;
    display: grid;
    grid-template-rows: 20% auto;
}

#aboutMeSection h2 {
    font-size: 70px;
    padding-left: 150px;
    padding-top: 70px;
}

#aboutInfo {
    display: flex;
    flex-direction: row;
}

#aboutInfo img {
    flex: 1 1 40%;
    padding-left: 250px;
    padding-top: 80px;
    height: 400px;
    width: auto;
}

#aboutWritten {
    flex: 1 1 60%;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

#aboutWritten p {
    flex: 1 1 30%;
}

#aboutWritten ul {
    list-style: none;
    flex: 1 1 70%;
}

#aboutwritten ol li {
    list-style: none;
}

#flexContainer {
    display: flex;
    flex-direction: column;
}

#fold {
    flex: 1 1 40%;
}

#footerNav {
    background-color: black;
    width: 98.9vw;
    height: 50px;
    position: relative;
    flex: 1 1 10%;
}

#footerLinks {
    float: left;
    margin-right: 20px;
}

#footerLinks ul li {
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    line-height: 50px;
}

#footerLinks ul li a {
    text-decoration: none;
    font-size: medium;
    color: white;
    font-weight: bold;
}